@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.registro {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 24px v.$color-black;
  font-family: v.$primary-font;
  @include m.breakpoint(tablet) {
    max-width: 600px;
  }
  @include m.breakpoint(desktop) {
    max-width: 900px;
  }

  &__titulo {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: v.$color-grey;
    @include m.breakpoint(tablet) {
    font-size: 34px;
    }
    @include m.breakpoint(desktop) {
    font-size: 38px;
    }
  }

  &__descripcion {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    color: v.$color-grey;
    @include m.breakpoint(tablet) {
    font-size: 18px;
    }
    @include m.breakpoint(desktop) {
    font-size: 22px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__campo {
    display: flex;
    flex-direction: column;
    label {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 5px;
      color: v.$color-grey;
      @include m.breakpoint(tablet) {
      font-size: 18px;
      }
      @include m.breakpoint(desktop) {
      font-size: 22px;
    }
    }
  }

  &__input,
  &__textarea {
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-color: v.$color-blue;;
      box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
      background-color: v.$color-white;
    }
        @include m.breakpoint(tablet) {
    font-size: 18px;
    }
    @include m.breakpoint(desktop) {
    font-size: 22px;
    }
  }

  &__textarea {
    resize: vertical;
  }

  &__botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__boton {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: v.$color-blue;
    color: v.$color-white;;
    font-weight: 600;
    font-size: 14px;
        cursor: pointer;
    transition: background-color 0.3s ease;
            @include m.breakpoint(tablet) {
    font-size: 18px;
    }
    @include m.breakpoint(desktop) {
    font-size: 22px;
    }


    &:hover {
      background-color: v.$color-blue;
    }

    &--reset {
      background-color: v.$color-grey;
      color: v.$color-black;

      &:hover {
        background-color: v.$color-grey;
      }
    }
  }
}
